.pokemon {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    max-width: 400px;
    margin-top: 4rem;
    border-radius: 10px;
    background-color: bisque;

}

pokemon:hover {
    background-color: burlywood;

}

pokemom-image {
    max-height: 50%;
    min-height: 200px;
    max-width: 60%;
    display: block;

}

.pokemon-name {
    letter-spacing: 10px;
    font-size: larger;
    margin-bottom: 1rem;
    margin-top: 1rem;

}